<%= render "components/banner" %>
<div class="container mt-5">

  <h1 class="mb-5"><%= @cocktail.name %></h1>
   <div class="row">
    <div class="col-sm-12 col-md-6 pr-4">
        <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
    </div>
    <div class="col-sm-12 col-md-6 mt-2 pl-4">
      <table class="table">
        <tbody>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>
              <td>
                <%= link_to dose_path(dose), class: "text-secondary", method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <h3>Reviews</h3>
  <% if @cocktail.reviews.empty? %>
    <p>Leave a review!</p>
  <% else %>
    <% @cocktail.reviews.each do |review| %>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-seconday badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <% review.content %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= render "reviews/new", cocktail: @cocktail, review: @review %>

</div>
